{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="{% static "images/Logo_Kodland.png" %}"></a>
        <span class="letter">Блог/Добавить статью</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons md-dark md-36">mail_outline</i></a></li>
        <li><a href="badges.html"><img class="img-circle" src="{% static "images/Uchenik.png" %}"></a></li>
        <li><a href="collapsible.html"><i class="material-icons md-dark md-36">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>




<!--    <form class="" action="{% url 'post_create' %}" method="post">-->

<!--        {% csrf_token %}-->

<!--        {% for field in form %}-->
<!--          <div class="form-group">-->
<!--            {{ field.label }}-->
<!--            {{ field }}-->
<!--          </div>-->

<!--      <button type="submit" name="button">Опубликовать</button>-->

<!--        {% endfor %}-->

<!--    </form>-->
<div class="container">
    <h2>Добавить статью</h2>
     <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
       {{ form.as_p }}
       <input type="submit" value="Опубликовать"/>
     </form>

   </div>

{% endblock %}